<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Allure.Commons" version="3.5.0.73" targetFramework="net472" />
  <package id="AspectInjector" version="2.6.0" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="MimeTypesMap" version="1.0.8" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NUnit" version="3.13.2" targetFramework="net472" />
  <package id="NUnit.Allure" version="1.2.0.1" targetFramework="net472" />
  <package id="NUnitTestAdapter" version="2.3.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.0.1" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="96.0.4664.4500" targetFramework="net472" />
</packages>